body {
    background-color: #2E302F;
    font-family: 'Trebuchet MS', sans-serif;
    color:  #FFFFFF;
}

.palabraReservada {
    color: hsl(297, 72%, 60%);
}

.comentario {
    color: #15982a;
    font-style: italic;
}

.string {
    color: #fffb00;
}

.variable {
    color:rgb(99, 215, 247);
}

.operador {
    color: #ed8924;
}

.numero {
    color: #bea4ff;
}

.otro {
    color:hsl(353, 100%, 50%)
}
